.button{
    display:flex;
    justify-content: center;
    align-items: center;
    height:150px;
    position: relative;
}
.text2{
    position: absolute;
    margin-top: -40px;

}

.text3{
    position: absolute;
}